.home__image {
  width: 100%;
  z-index: -100;
  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 55%);
  mask-image: linear-gradient(to top, transparent 5%, black 55%);
  margin-bottom: -100px;
  margin-left: 0vw;
  margin-right: 0vw;
}
.home {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}
